html
{
    background: url("/WebundMultimedia/Images/background.jpg") center center fixed;
    height: 100%;
    /*
    background: #1C1C1C;
     */
}

body
{
    background: transparent;
    height: 100%;
    width:100%;
    position: absolute;
    top:0;
}

.navBar-wrapper
{
    height: 80px;
    position: fixed;
    left:0;
    right:0;
    top:0;
}

.glyphicon-menu-hamburger
{
    font-size: 30px;
    color: #72A7A5;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.burger-Menu-Text
{
    float:left;
    color: #E4EFF0;
    margin-top: 25px;
    margin-left: 14px;
    font-weight: bold;
}

.userGreeting
{
    float:left;
    color: #E4EFF0;
    margin-top: 25px;
    margin-left: 14px;
    font-weight: bold;
}

.topBarSeperator
{
    float: left;
    height: 80px;
    margin-left: 45px;
    border: 1px solid rgba(255,255,255,0.2);
}

.social-media-buttons
{
    position: fixed;
    right: 25px;
    top: 20px;
    float: right;
    color:white;
}

.social-media-buttons svg
{
    margin-left: 10px;
    margin-right: 10px;
}

.container
{
    margin-top: 20px;
}

.brand-Headline-Index
{
    color: #72A7A5;
    text-align: center;
    font-size: 126px;
    margin-top: 47px;
    font-family: 'Permanent Marker', cursive;
}

.brand-Headline-Index-Subtext
{
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: monospace;
}

#sliderWrapper
{
    margin-top: 60px;
    width: 100%;
    text-align: center;
}

.menuOverlay {
    position: fixed;
    width: 20%;
    left: 0;
    top: 0;
    height: 100%;
    background: white;
    display: none;
}

.accountSVG
{
    color: #72A7A5;
    fill: white;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}