html
{
    background: url("/WebundMultimedia/Images/background.jpg") center center fixed;
    height: 100%;
    /*
    background: #1C1C1C;
     */
}

body
{
    background: transparent;
    height: 100%;
    width:100%;
    position: absolute;
}

.navBar-wrapper
{
    background: black;
    z-index: 3;
    height: 80px;
    position: fixed;
    left:0;
    right:0;
    top:0;
}

.glyphicon-menu-hamburger
{
    font-size: 30px;
    color: #72A7A5;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.burger-Menu-Text
{
    float:left;
    color: #E4EFF0;
    margin-top: 25px;
    margin-left: 14px;
    font-weight: bold;
}

.userGreeting
{
    float:left;
    color: #E4EFF0;
    margin-top: 25px;
    margin-left: 14px;
    font-weight: bold;
}

.topBarSeperatorLeft
{
    float: left;
    height: 80px;
    margin-left: 45px;
    border: 1px solid rgba(255,255,255,0.2);
}

.topBarSeperatorRight
{
    float: right;
    height: 80px;
    margin-right: 170px;
    border: 0.5px solid rgba(255,255,255,0.2);
}

.shoppingCartButton
{
    position: fixed;
    top: 18px;
    right: 210px;
    float: right;
}

.shoppingCartButton a svg
{
    color: white;
    transition: all 0.2s;
}

.shoppingCartButton a:hover > svg
{
    color: #72A7A5;
}
.social-media-buttons
{
    position: fixed;
    right: 25px;
    top: 20px;
    float: right;
    color:white;
}

.social-media-buttons svg
{
    margin-left: 10px;
    margin-right: 10px;
}

.errorMessage
{
    top: 80px;
    left: 0;
    right: 0;
    position: absolute;
}

.container
{
    margin-top: 140px;
}

.brand-Headline-Index
{
    color: #72A7A5;
    text-align: center;
    font-size: 126px;
    margin-top: 47px;
    font-family: 'Permanent Marker', cursive;
}

.brand-Headline-Index-Subtext
{
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: monospace;
}

#sliderWrapper
{
    margin-top: 60px;
    width: 100%;
    text-align: center;
}

.menuOverlay {
    position: fixed;
    width: 0;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(49, 46, 46,0.9);
    z-index: 4;
    transition: width 0.5s ease-in-out;
    overflow: hidden;
}

.menuOverlayOpened
{
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.menuContentWrapper
{
    height: 100%;
}
.menuContent
{
    color: white;
    padding:30px;
    background: rgb(49, 46, 46);
    height: 100%;
}

.menuContentHeadline
{
    font-size: 30px;
    text-align: center;
}

#closeOverlay
{
    height: 40px;
    width: 40px;
    fill: #72A7A5;
    position: absolute;
    right: 50px;
    top: 50px;
    transition: all 0.1s;
}

#openOverlay:hover{
    cursor: pointer;
}

#closeOverlay:hover{
    cursor: pointer;
    fill: #256866;
}

.accountSVG
{
    color: #72A7A5;
    fill: white;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
    transition: all 0.2s;
}

.accountSVG:hover
{
    fill: #72A7A5;
}

#logOutButton
{
    position: fixed;
    bottom: 20px;
    left: 100px;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
}

#logOutButton:hover
{
    background-color: red;
}


.listButton{
    background-color: #72A7A5;
    width: 60%;
    margin: 10px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    border-radius: .3rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
}

.listButton:hover{
    background-color: #256866;
    color: white;
}

.searchbar
{
    background: transparent!important;
    color: white;
    border: 3px solid #72A7A5;
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 30px;
    overflow: hidden;

}
.searchbar input
{
    border: none;
    background: transparent!important;
    color: white;
    outline: none;
}

.searchbar input[type="text"]
{
    margin-left: 13px;
    width: 100px;
    transition: width 0.1s ease-in-out;
}

.searchbar input[type="text"]:focus
{
    width: 600px;
    transition: width 0.1s ease-in-out;
}

.searchbar button
{
    background: transparent!important;
    border: none;
    margin-right: 5px;
    margin-bottom: 3px;
    pointer-events: none;
}

.searchResults
{
    background: black;
}

.searchBarResult
{
    border-top: 1px solid white;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.searchBarResult a
{
    text-decoration: none;
    color: white;
}
#nonvisibleid{
    visibility: hidden;
}

.shoppingCartItem{
    padding-top: 10px;
    border-radius: 20px;
    transition: all 0.2s;

}
.shoppingCartItem:hover{
    background-color: rgba(128, 128, 128, 0.49);
    cursor: pointer;

}

.emptyShoppingCart p{
    font-size: 20px;
    color: white;
    text-align: center;
}

#orderButton{
    color: white;
    background-color: #72A7A5;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    width: 255px;
    border-radius: 15px;
    transition: all 0.4s;
    float: right;
}

#orderButton span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

#orderButton span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

#orderButton:hover{
    background-color: #256866;
}

#orderButton:hover span{
    padding-right: 25px;
}

#orderButton:hover span::after{
    opacity: 1;
    right: 0;
}

.hrMenu{
    width: 70%;
    margin-left: 15%;
}

@media (max-width: 1000px) {
    .listButton
    {
        font-size: 20px;
    }
}

@media (max-width: 770px) {
    .listButton
    {
        font-size: 20px;
    }

    .menuContent
    {
        overflow-y: scroll;
    }
}

@media (max-width: 700px)
{
    .social-media-buttons
    {
        display:none;
    }

    .topBarSeperatorRight
    {
        display:none;
    }

    .shoppingCartButton
    {
        right: 0;
    }

    .searchbar input[type="text"]
    {
        margin-left: 13px;
        width: 100px;
        transition: width 0.1s ease-in-out;
    }

    .searchbar input[type="text"]:focus
    {
        width: 120px;
        transition: width 0.1s ease-in-out;
    }

    .listButton
    {
        font-size: 15px;
    }
}

@media (max-width: 550px)
{
    .searchbar
    {
        display: none;
    }
}
