.registrationForm
{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.registrationForm form
{
    display: inline-block;
}

.registrationForm form input
{
    display: inline-block;
    height: 40px;
    background: transparent!important;
    color: white;
    border: 3px solid #72A7A5;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 300px;
}

.registrationForm form input:focus
{
    outline: none;
}

.registerLink
{
    color: white;
}

.AccountingIconWrapper
{
    text-align: center;
    width: 100%;
    margin-top: 140px;
}

.accountAddIcon
{
    color: white;
    display: inline-block;
}

.accountIcon
{
    color: white;
    display: inline-block;
}

.LogoutMessage
{
    color:white;
    text-align: center;
}
.UserRemover{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.UserRemover form{
    display: inline-block;
}
.UserRemover form input{
    display: inline-block;
    height: 40px;
    background: transparent!important;
    color: white;
    border: 3px solid #72A7A5;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
.UserRemover form input:focus{
    outline: none;
}