.registrationForm
{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.registrationForm form
{
    display: inline-block;
}

.registrationForm form input
{
    display: inline-block;
    height: 40px;
    background: transparent!important;
    color: white;
    border: 3px solid #72A7A5;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 300px;
}

.registrationForm form input:focus
{
    outline: none;
}

.registerLink
{
    color: white;
}

.AccountingIconWrapper
{
    text-align: center;
    width: 100%;
}

.accountAddIcon
{
    color: white;
    display: inline-block;
}

.accountIcon
{
    color: white;
    display: inline-block;
}

.LogoutMessage
{
    color:white;
    text-align: center;
}

.LogoutMessage p{
    font-size: 30px;
}
.UserRemover{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.UserRemover form{
    display: inline-block;
}
.UserRemover form input{
    display: inline-block;
    background: transparent!important;
    color: white;
    border: 3px solid #72A7A5;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
.UserRemover form input:focus{
    outline: none;
}

.userColumn
{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    transition: all 0.2s;
}

.userColumn:hover{
    background-color: rgba(128, 128, 128, 0.49);
}

.userColumnHeadline
{
    color: white;
    padding-bottom: 20px;
    font-size: 25px;
}

.userAdministrationSearchDivision input
{
    background: none;
    outline: none;
    color: #72A7A5;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.userAdministrationSearchDivision input
{
    border-bottom: 1px solid white;
}

.userEditHeadline
{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 60px;
}

.userEditForm
{
    color: white;
    width: 100%;
    float: left;
    height: 400px;
}

.userEditForm form input
{
    height: 40px;
    background: transparent!important;
    color: white;
    border: 3px solid #72A7A5;
    margin-bottom: 8px;
    border-radius: 5px;
    width: 300px;
}

.userEditDetails
{
    float: left;
    color: white;
    height: 350px;
    width: 100%;
    padding-right: 0!important;
}

.passwordChange
{
    color: white;

}

#deleteAccountButton{
    width: max-content;
    text-decoration: none;
    background-color: #ff5555;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.2s;
}

#deleteAccountButton:hover{
    background-color: #890000;
}

#toStartButton{
    width: 300px;
    text-decoration: none;
    font-size: 20px;
    background-color: #72A7A5;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.2s;
    text-align: center;
}

#toStartButton:hover{
    background-color: #256866;
}

#toStartButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

#toStartButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.2s;
}

#toStartButton:hover span {
    padding-right: 15px;
}

#toStartButton:hover span:after {
    opacity: 1;
    right: 0;
}

.formSpan{
    color: white;
}

.deleteAccountButtonWrapper{
    padding-left: 20px;
}

.userAdminDeleteBtn{
    text-decoration: none;
}

.userAdminDeleteBtn svg:hover{
    fill: #b60000;
}

.userAdminRightsBtn{
    color: white;
    text-decoration: none;
    padding-right: 20px;
}

.userAdminRightsBtn:hover{
    color: #72A7A5;
}